RewriteBase /
RewriteEngine On

Rewritecond %{REQUEST_FILENAME} !-d
Rewritecond %{REQUEST_FILENAME}.html -f
Rewriterule ^(.*)$ $1.html

Rewritecond %{REQUEST_FILENAME} !-d
Rewritecond %{REQUEST_FILENAME}.php -f
Rewriterule ^(.*)$ $1.php